<key>NSPrivacyThirdPartySDKs</key>
<array>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>AppAuth</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>Authentication</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>FBLPromises</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>App Functionality</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>FMDB</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>Data Storage</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>FirebaseAuth</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>Authentication</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>FirebaseCore</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>App Functionality</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>FirebaseCoreInternal</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>App Functionality</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>FirebaseInstallations</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>App Functionality</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>FirebaseMessaging</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>Push Notifications</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>Flutter</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>App Functionality</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>package_info_plus</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>App Functionality</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>share_plus</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>Sharing Content</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>sqflite</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>Data Storage</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>url_launcher_ios</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>Opening External Links</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>video_player_avfoundation</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>Media Playback</string>
      </array>
   </dict>
   <dict>
      <key>NSPrivacyThirdPartySDKName</key>
      <string>wakelock_plus</string>
      <key>NSPrivacyThirdPartySDKPurpose</key>
      <array>
         <string>Prevent Screen Sleep</string>
      </array>
   </dict>
</array>